
<ion-nav-view view-title="Browse">
    <ion-pane ng-controller="CardsController">
        <ion-header-bar class="bar-calm">
            <h1 class="title">Ionic Tinder Cards</h1>
        </ion-header-bar>

        <td-cards>
            <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
                     on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
                     on-partial-swipe="cardPartialSwipe(amt)" on-doubletap="onDoubletap($index)"  on-release="onRelease()"  on-tap="onTap($index)" on-touch="cardTouch($index)">
                <div class="title">
                    {{card.title}}
                </div>
                <div class="image">
                    <div class="no-text overlayBox"><div class="noBox boxed">Pass</div></div>
                    <img ng-src="{{card.image}}">
                    <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Add</div></div>
                </div>
            </td-card>
        </td-cards>
    </ion-pane>
</ion-nav-view>
