<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar   align-title="center" class="bar-calm">
            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-navicon" menu-toggle="left">
                </button>
                <div class="h1 title">Modagusta</div>
                <button class="button button-icon icon ion-home" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu width="myWidthValue + 300" side="left" enable-menu-with-back-views="false">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                    Filter
                    <label class="item item-input item-select">
                      <div class="input-label">
                          Cinsiyet
                      </div>
                      <select ng-model="selection.gender" ng-options="item as item.name for item in genders" ng-change="update()"></select>
                    </label>

                    <label class="item item-input item-select">
                      <div class="input-label">
                        Kategori
                      </div>
                      <select ng-model="selection.cat" ng-options="item as item.name for item in categories"></select>
                    </label>

                    <label class="item item-input item-select">
                      <div class="input-label">
                        Site:
                      </div>
                      <select ng-model="selection.provider" ng-options="item as item.name for item in providers"></select>
                    </label>

                    <label class="item item-input item-select">
                      <div class="input-label">
                        Prices
                      </div>
                      <select ng-model="selection.price" ng-options="item as item.name for item in prices"></select>
                    </label>

                    <button type="button" class="btn btn-default" data-ng-click="btnFilter(selection)">Filtrele</button>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">
                    Settings
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>


    <!--Rigt menu-->
    <ion-side-menu width="myWidthValue + 300" side="right">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Wish List</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>

                <ion-item nav-clear  ng-repeat="card in wishList">

                    <div >
                        <div style="float:left;">
                            <img height="60" width="60"ng-src="{{card.image}}"/>
                        </div>
                        <div style="float:left;">
                            {{card.title}}
                        </div>
                        <div style="float:left;">

                            <button class="button button-positive button-small" ng-click="btnBuy(card.productURL)">
                                BUY
                            </button>
                                </a>
                        </div>
                        <div style="float:left;">
                            <button class="button button-assertive button-small" ng-click="btnRemoveFromWishList({{card.id}})">
                                <i class="icon ion-close"></i>
                            </button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <div align="center">
                <button class="button button-positive" ng-click="sendWishListMail()">
                    <i class="ion-email"></i>
                </button>
                <button class="button button-positive" ng-click="clearWishList()">
                    <i class="ion-close"></i>
                </button>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
